core-geonetwork/schemas/iso19139.mdc/src/main/plugin/iso19139.mdc/schema/mdc/ncea.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.isotc211.org/2005/mdc" elementFormDefault="qualified" version="0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:mdc="http://www.isotc211.org/2005/mdc">
    <!-- ================================= Annotation ================================ -->
    <xs:annotation>
        <xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 01-26-2005 12:40:01 ====== </xs:documentation>
    </xs:annotation>
    <!-- ================================== Imports ================================== -->
    <xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
    <!-- ########################################################################### -->
    <!-- ########################################################################### -->
    <!-- ================================== Classes ================================= -->

    <!-- =========================================================================== -->
    <xs:complexType name="classifier">
        <xs:complexContent>
            <xs:extension base="gco:AbstractObject_Type">
                <xs:sequence>
                    <xs:element name="classifierType" type="gco:CharacterString_PropertyType" minOccurs="0"/>
                    <xs:element name="classifierValue" type="gco:CharacterString_PropertyType" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ........................................................................ -->
    <xs:element name="NCEA_classifier" type="mdc:classifier"/>
    <!-- ........................................................................ -->
    <xs:complexType name="NC_Classifiers">
        <xs:sequence minOccurs="0">
            <xs:element ref="mdc:NCEA_classifier"/>
        </xs:sequence>
        <xs:attributeGroup ref="gco:ObjectReference"/>
        <xs:attribute ref="gco:nilReason"/>
    </xs:complexType>
    <!-- =========================================================================== -->


    <!-- =========================================================================== -->
    <xs:complexType name="NCEA_ClassifierInfo">
        <xs:complexContent>
            <xs:extension base="gco:AbstractObject_Type">
                <xs:sequence>
                    <xs:element name="ncea" type="mdc:NC_Classifiers" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ........................................................................ -->
    <xs:element name="NCEA_Classifier" type="mdc:NCEA_ClassifierInfo"/>
    <!-- ........................................................................ -->

</xs:schema>