core-geonetwork/schemas/iso19139/src/main/plugin/iso19139/schema2007/mdc/ncea.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="https://github.com/DEFRA/ncea-geonetwork/tree/feature/366505-master-reference/core-geonetwork/schemas/iso19139/src/main/plugin/iso19139/schema2007/mdc" elementFormDefault="qualified" version="0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:mdc="https://github.com/DEFRA/ncea-geonetwork/tree/feature/366505-master-reference/core-geonetwork/schemas/iso19139/src/main/plugin/iso19139/schema2007/mdc">
    <!-- ================================= Annotation ================================ -->
    <xs:annotation>
        <xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 01-26-2005 12:40:01 ====== </xs:documentation>
    </xs:annotation>
    <!-- ================================== Imports ================================== -->
    <xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
    <!-- ########################################################################### -->
    <!-- ########################################################################### -->
    <!-- ================================== Classes ================================= -->


	<!-- =========================================================================== -->
	<xs:complexType name="NC_Classifiers_PropertyType">
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="NC_Classifiers" type="mdc:NC_Classifiers_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="nceaClassifierInfo" type="mdc:NC_Classifiers_PropertyType"/>
	<!-- ........................................................................ -->
	<!--<xs:complexType name="NC_Classifiers_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mdc:nceaClassifierInfo"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>-->
	<!-- =========================================================================== -->




	<!-- =========================================================================== -->
	<xs:complexType name="NC_Classifiers_Type">
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
				    <xs:element name="classifier" type="mdc:classifier_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="NC_Classifiers" type="mdc:NC_Classifiers_Type"/>
	<!-- ........................................................................ -->
	<!--<xs:complexType name="NC_Classifiers_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mdc:NC_Classifiers"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>-->
	<!-- =========================================================================== -->







	<!-- =========================================================================== -->
    	<xs:complexType name="classifier_Type">
    		<xs:complexContent>
    			<xs:extension base="gco:AbstractObject_Type">
    				<xs:sequence>
                        <xs:element name="classifierType" type="gco:CharacterString_PropertyType" minOccurs="0"/>
                        <xs:element name="classifierValue" type="gco:CharacterString_PropertyType" minOccurs="0"/>
                        <xs:element name="NC_Classifiers" type="mdc:NC_Classifiers_Type" minOccurs="0"/>
    				</xs:sequence>
    			</xs:extension>
    		</xs:complexContent>
    	</xs:complexType>
    	<!-- ........................................................................ -->
    	<!--<xs:element name="classifier" type="mdc:classifier_Type"/>-->
    	<!-- ........................................................................ -->
    	<!--<xs:complexType name="classifier_PropertyType">
    		<xs:sequence minOccurs="0">
    			<xs:element ref="mdc:classifier"/>
    		</xs:sequence>
    		<xs:attributeGroup ref="gco:ObjectReference"/>
    		<xs:attribute ref="gco:nilReason"/>
    	</xs:complexType>-->
    	<!-- =========================================================================== -->
</xs:schema>